@import "tailwindcss";

/* Start Flowbite settings */
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source "../../node_modules/flowbite-datepicker";
@source "../../node_modules/simple-datatables/dist";

/* Laravel + app sources */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.datatable-search {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
